.movie {
  width: 230px; /* image size */
  height: auto;
}

.img__box {
  padding-bottom: 1%;
  overflow: hidden;
}

.movie__img {
  max-width: 100%;
  height: auto !important;
  object-fit: cover;
}

.title__box {
  width: 100%;
  padding-top: 5px;
  text-overflow: ellipsis;
  text-decoration-line: none;
  color: white;
  font-weight: 300;
}
